.albums {
    border-radius: 10px;
    margin: 5%;
    box-shadow: 0px 4px 6px -2px rgb(0 0 0 / 74%);
    padding: 2% 0 2% 0;
}

ion-content{ 
    font-family:Pyidaungsu !important;
    background-color: #fff;
}